<html>
<head>
<style type="text/css">
@font-face { font-family: 'Ubuntu'; src: url(https://bitbucket.org/patx/hacks/raw/8b5da9c245c84469a9033490b372373dab924e04/Ubuntu-Beta.ttf); }
body { font-family: 'Ubuntu'; }
textarea { margin: 0px; width: 1129px; height: 501px; }
small { font-size: 15px; }
h1 { font-size: 40px; }
a { color: black; }
</style>
<title>
about
</title>
<body>
<h1>
<small><a href="/">pastebin</a></small> about
</h1>
<strong>"circuits-pastebin"</strong> is an extremly simple, absolutely no frills, fast pastebin application.
<br><br>
it is written, as the name implies, using <a href="https://github.com/circuits/circuits">circuits.web</a>.
<br><br>
pastes are highlighted using <a href="http://pygments.org">pygments</a>.
<br><br>
there is no minumun or maximum garuntee of how long a paste will be available.
<br><br>
all pastes are open to the public.
<br><br>
if you would like a paste removed please contact <a href="https://patx.github.io/">harrison</a>.
<br><br>
pastes are stored using mongodb, <a href="http://mlab.com">mlab</a>, and <a href="http://mongoengine.org/">mongoengine</a>.
<br><br>
you can see the source code for this application <a href="/code">here</a>.
</body>
</html>
