<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">

<title>Sevenex Aero - The Lav-o-Matic - Buy</title>

<link href="style-pages.css" rel="stylesheet" type="text/css">
<link href="style-navbar.css" rel="stylesheet" type="text/css">
<link href="style-forms.css" rel="stylesheet" type="text/css"

<meta name="description" content="Lav-o-Matic for the Dassult Falcon 7X">
<meta name="keywords" content="aircraft,dassult,falcon,air,plane,7x,sevenex,lav-o-matic">
<meta name="author" content="https://pythonhosted.org/pickleDB/~harrisonerd">
</head>

<body>
<div id="container">

<div id="header">
<h3>
<img src="header.jpg" width="800" height="210" alt="The Lav-o-Matic by Sevenex Aero">
</h3>

<div id="navbar">
<ul id="menu">
<li><a href="index.html" class="button">Home</a></li>
<li><a href="contact.html" class="button">Contact</a></li>
</ul>
</div><!-- end navbar -->
</div><!-- end header -->

<div id="mainbody">
<p>
<h2>Enter your shipping information</h2>
<form action="/buy" method="post" class="pure-form pure-form-aligned">
<fieldset>
<div class="pure-control-group">
<label for="aligned-email">Email Address</label>
<input id="aligned-email" type="email" placeholder="Email Address" name="email">
</div>

<div class="pure-control-group">
<label for="aligned-name">Name</label>
<input id="aligned-name" type="text" placeholder="Name" name="name">
</div>

<div class="pure-control-group">
<label for="aligned-street1">Street 1</label>
<input id="aligned-street1" type="text" placeholder="Street (line 1)" name="street1">
</div>

<div class="pure-control-group">
<label for="aligned-street2">Street 2</label>
<input id="aligned-street2" type="text" placeholder="Street (optional line 2)" name="street2">
</div>

<div class="pure-control-group">
<label for="aligned-city">City</label>
<input id="aligned-city" type="text" placeholder="City" name="city">
</div>

<div class="pure-control-group">
<label for="aligned-zip">Zip</label>
<input id="aligned-zip" type="text" placeholder="Zip code" name="zip">
</div>

<div class="pure-control-group">
<label for="aligned-state">State</label>
<select id="aligned-state" class="pure-control-group" name="state">
<option>AL</option>
<option>AK</option>
<option>AZ</option>
<option>AR</option>
<option>CA</option>
<option>CO</option>
<option>CT</option>
<option>DE</option>
<option>FL</option>
<option>GA</option>
<option>HI</option>
<option>ID</option>
<option>IL</option>
<option>IN</option>
<option>IA</option>
<option>KS</option>
<option>KY</option>
<option>LA</option>
<option>ME</option>
<option>MD</option>
<option>MA</option>
<option>MI</option>
<option>MN</option>
<option>MS</option>
<option>MO</option>
<option>MT</option>
<option>NE</option>
<option>NV</option>
<option>NH</option>
<option>NJ</option>
<option>NM</option>
<option>NY</option>
<option>ND</option>
<option>OH</option>
<option>OK</option>
<option>OR</option>
<option>PA</option>
<option>RI</option>
<option>SC</option>
<option>SD</option>
<option>TN</option>
<option>TX</option>
<option>UT</option>
<option>VT</option>
<option>VA</option>
<option>WA</option>
<option>WV</option>
<option>WI</option>
<option>WY</option>
</select>
</div>

<button type="submit" class="pure-button pure-button-primary">Continue</button>
</fieldset>
</form>
</p>
</div><!-- end mainbody -->

<div id="footer">
<p>
&copy; Sevenex Aero 2016
</p>
</div><!-- end footer -->

</div><!-- end container -->
</body>

</html>
