<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">

<title>Sevenex Aero - The Lav-o-Matic - Contact</title>

<link href="style-pages.css" rel="stylesheet" type="text/css">
<link href="style-navbar.css" rel="stylesheet" type="text/css">

<meta name="description" content="Lav-o-Matic for the Dassult Falcon 7X">
<meta name="keywords" content="aircraft,dassult,falcon,air,plane,7x,sevenex,lav-o-matic">
<meta name="author" content="https://pythonhosted.org/pickleDB/~harrisonerd">
</head>

<body>
<div id="container">

<div id="header">
<h3>
<img src="header.jpg" width="800" height="210" alt="The Lav-o-Matic by Sevenex Aero">
</h3>

<div id="navbar">
<ul id="menu">
<li><a href="index.html" class="button">Home</a></li>
<li><a href="contact.html" class="button selected">Contact</a></li>
</ul>
</div><!-- end navbar -->
</div><!-- end header -->

<div id="mainbody">
<p>
<h1>We'd love to hear from you!</h1>
<h2>
If you have any problems or questions please give us a call at *.
You may also email us at <a href="*">*</a>.
We will make sure to get back to you within two buisness days!
</h2>
</p>
</div><!-- end mainbody -->

<div id="footer">
<p>
&copy; Sevenex Aero 2016
</p>
</div><!-- end footer -->

</div><!-- end container -->
</body>

</html>
