<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">

<title>Sevenex Aero - The Lav-o-Matic - Home</title>

<link href="style-index.css" rel="stylesheet" type="text/css">
<link href="style-navbar.css" rel="stylesheet" type="text/css">
<link href="style-forms.css" rel="stylesheet" type="text/css">

<meta name="description" content="Lav-o-Matic for the Dassult Falcon 7X">
<meta name="keywords" content="aircraft,dassult,falcon,air,plane,7x,sevenex,lav-o-matic">
<meta name="author" content="https://pythonhosted.org/pickleDB/~harrisonerd">
</head>

<body>
<div id="container">

<div id="header">
<h3>
<img src="header.jpg" width="800" height="210" alt="The Lav-o-Matic by Sevenex Aero">
</h3>

<div id="navbar">
<ul id="menu">
<li><a href="index.html" class="button selected">Home</a></li>
<li><a href="contact.html" class="button">Contact</a></li>
</ul>
</div><!-- end navbar -->
</div><!-- end header -->

<div id="mainbody">
<p>a short description in 300 characters or less. should be long enough to tell
people everything about the product but short enough to keep interest. a short
description in 300 characters or less. should be long enough to tell people
everything about the product but short enough to keep interest. a short
description in 300 characters or less. should be long enough to tell people
everything about the product but short enough to keep interest
should be long enough to tell people
everything about the product but short enough to keep interest. a short
description in 300 characters or less. should be long enough to tell people
everything about the product but short enough to keep interest</p>
<p>
<h1>
<a href="buy.html">
<button type="submit" class="pure-button pure-button-primary">Buy Now!</button>
</a>
</h1>
</div><!-- end mainbody -->

<div id="sidebody">
<p>
<a href="http://patx.bitbucket.org/image.jpg">
<img src="http://patx.bitbucket.org/image.jpg" alt="The Lav-o-Matic">
</a>
<br>
<em>Click image to enlarge</em>
</p>
</div><!-- end sidebody -->

<div id="footer">
<p>
&copy; Sevenex Aero 2016
</p>
</div><!-- end footer -->

</div><!-- end container -->
</body>

</html>
