@charset "UTF-8";
/* CSS Document -- Nav Bar Styles */

#navbar{
  width: 100%;
  height: 45px;
  overflow: hidden;
  margin-bottom: 0px;
}

/* eliminate bullets */
ul#menu {
  list-style: none;
}

/* make list horizontal */
ul#menu li {
  float: left;
  margin-left: -10px;
}

/* button styles */
ul#menu li a.button {
  background-color: #337ab7;
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  padding: 6px 20px 25px 20px;
  border: dotted 1px;
}

/* styles for button on currently selected page */
ul#menu li a.button.selected{
  background-color: #fff;
  color: #337ab7;
  font-style: oblique;
}


/* hover link styles */
ul#menu li a.button:hover {
  background-color: #fff;
  color: #337ab7;
}

/* selected button shouldn't change on hover */
ul#menu li a.button:hover.selected{
  background-color: #fff;
  color: #337ab7;
  font-style: oblique;
}
